.navbar-text {
    color: white;
}
#navbar {
    background-color: orangered;
}
#navbar-item-1 {
    background-color: orangered;
}
#navbar-item-1:hover {
    background-color: white;
}
#navbar-item-2 {
    background-color: orangered;
}
#navbar-item-2:hover {
    background-color: white;
}
#navbar-item-3 {
    background-color: orangered;
}
#navbar-item-3:hover {
    background-color: white;
}
#navbar-item-4 {
    background-color: orangered;
}
#navbar-item-4:hover {
    background-color: white;
}
#navbar-item-5 {
    background-color: orangered;
    border: none;
}
#navbar-item-5:hover {
    background-color: white;
}
#footer {
    position: absolute;
    width: 100%;
    background-color: orangered;
    padding: 0.4%;
    padding-left: 1%;
    bottom: auto;
}
#footer-image {
    border: 0px;
}

